.director-card-header {
  font-size: 25px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #ddcaa4;
}

.table {
  width: 100%;
  text-align: left;
}

.mat-card-content {
  padding: 10px;
}

.bio-row {
  padding: 10px;
}

.birth-row {
  padding: 15px;
}
