<mat-toolbar class="navbar">
  <button mat-button (click)="openMovies()">
    <span>My Movies</span>
  </button>
  <span class="spacer"></span>
  <button class="nav-icon-button" mat-icon-button (click)="openMovies()">
    <mat-icon>local_movies</mat-icon>
  </button>
  <button class="nav-icon-button" mat-icon-button (click)="openProfile()">
    <mat-icon>person_outline</mat-icon>
  </button>
  <button class="nav-icon-button" mat-icon-button (click)="logoutUser()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
