.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  margin-top: 15vh;
  margin-right: 2vw;
  padding: 25px;
  width: 25%;
  min-width: 380px;
}
.profile-card-header {
  font-size: 40px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}
.user-card img {
  width: 100%;
  height: 73%;
  padding: 5px;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 50%;
}
.update-card {
  margin-top: 15vh;
  padding: 25;
  width: 60%;
  min-width: 380px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.actions button {
  margin-top: 15px;
  margin-left: 10px;
  width: 20%;
}

.button-profile {
  margin: 15px;
  padding: 20px;
}

// Movie Cards
.fav-movies-cards {
  min-width: 380px;
  width: 90%;
  margin-top: 5vh;
  padding: 25px;
  justify-content: center;
  text-align: center;
}
.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vh;
}

.mat-card {
  margin: 85px;
}

.mat-card-header {
  background-color: #ddcaa4;
  color: #755000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mat-card-actions {
  background-color: #ddcaa4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.genre-button {
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
}

.director-button {
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
}

.description-button {
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
}
