<app-navbar></app-navbar>
<div class="profile-container">
  <mat-card class="user-card">
    <mat-card-header class="profile-card-header">
      <mat-card-title>{{ userData.Username }}</mat-card-title>
    </mat-card-header>
    <img
      class="profile-pic"
      src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg"
    />
    <mat-card-content>
      <p>Email: {{ userData.Email }}</p>
      <p>Birthday: {{ userData.Birthday | date : "longDate" }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="update-card">
    <mat-card-header class="profile-card-header">
      <mat-card-title>Update Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <label>Username:</label>
        <mat-form-field class="form-inputs">
          <input
            matInput
            [(ngModel)]="userData.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <label>Email:</label>
        <mat-form-field class="form-inputs">
          <input
            matInput
            [(ngModel)]="userData.Email"
            placeholder="Email"
            type="email"
            name="Email"
            required
          />
        </mat-form-field>
        <label>Birthday:</label>
        <mat-form-field class="form-inputs">
          <input
            matInput
            [(ngModel)]="userData.Birthday"
            placeholder="Birthday"
            type="date"
            name="Birthday"
            required
          />
        </mat-form-field>
      </form>
      <mat-card-actions class="actions">
        <button
          mat-raised-button
          class="button-profile"
          color="warn"
          (click)="deleteUser()"
          type="submit"
        >
          Delete
        </button>
        <button
          mat-raised-button
          class="button-profile"
          color="accent"
          (click)="openUpdateUserInfoDialog()"
          type="submit"
        >
          Update
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <div class="fav-movies-cards">
    <div class="profile-card-header">
      <h3>Favorite Movies</h3>
      <div
        *ngIf="FavoriteMovies.length === 0"
        class="movie-card-container"
        style="font-size: 18px"
      >
        <p>You have no Favorite Movies</p>
      </div>
    </div>
    <div class="movie-card-container">
      <mat-card *ngFor="let movie of FavoriteMovies" class="movie-card">
        <div class="image-container">
          <img mat-card-image src="{{ movie.ImageUrl }}" />
        </div>
      </mat-card>
    </div>
  </div>
</div>
