.description-card-header {
  font-size: 25px;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-weight: bold;
  background-color: #ddcaa4;
}
.description-card-content {
  margin-left: 10px;
}
